@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2025 0.0543 264.7546);
  --card: oklch(0.9834 0.0042 236.4956);
  --card-foreground: oklch(0.2025 0.0543 264.7546);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2025 0.0543 264.7546);
  --primary: oklch(0.4234 0.2370 263.9162);
  --primary-foreground: oklch(0.9837 0.0051 247.8759);
  --secondary: oklch(0.9673 0.0103 247.9325);
  --secondary-foreground: oklch(0.2762 0.0514 259.0249);
  --muted: oklch(0.9673 0.0103 247.9325);
  --muted-foreground: oklch(0.5498 0.0571 256.7089);
  --accent: oklch(0.9673 0.0103 247.9325);
  --accent-foreground: oklch(0.2762 0.0514 259.0249);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(0.9837 0.0051 247.8759);
  --border: oklch(0.9274 0.0178 253.3431);
  --input: oklch(0.9274 0.0178 253.3431);
  --ring: oklch(0.4234 0.2370 263.9162);
  --chart-1: oklch(0.4234 0.2370 263.9162);
  --chart-2: oklch(0.6225 0.2041 259.9027);
  --chart-3: oklch(0.7122 0.1526 254.9868);
  --chart-4: oklch(0.8088 0.0991 251.7533);
  --chart-5: oklch(0.8820 0.0588 253.9688);
  --sidebar: oklch(0.9837 0.0051 247.8759);
  --sidebar-foreground: oklch(0.3679 0.0550 256.8976);
  --sidebar-primary: oklch(0.4234 0.2370 263.9162);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9274 0.0178 253.3431);
  --sidebar-accent-foreground: oklch(0.2025 0.0543 264.7546);
  --sidebar-border: oklch(0.9274 0.0178 253.3431);
  --sidebar-ring: oklch(0.4234 0.2370 263.9162);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1764 0.0254 272.8132);
  --foreground: oklch(0.9837 0.0051 247.8759);
  --card: oklch(0.2036 0.0582 264.3552);
  --card-foreground: oklch(0.9837 0.0051 247.8759);
  --popover: oklch(0.1716 0.0542 269.6119);
  --popover-foreground: oklch(0.9837 0.0051 247.8759);
  --primary: oklch(0.5460 0.2450 262.8810);
  --primary-foreground: oklch(0.2025 0.0543 264.7546);
  --secondary: oklch(0.2762 0.0514 259.0249);
  --secondary-foreground: oklch(0.9837 0.0051 247.8759);
  --muted: oklch(0.2762 0.0514 259.0249);
  --muted-foreground: oklch(0.7061 0.0488 256.4992);
  --accent: oklch(0.2762 0.0514 259.0249);
  --accent-foreground: oklch(0.9837 0.0051 247.8759);
  --destructive: oklch(0.4205 0.1668 28.5048);
  --destructive-foreground: oklch(0.9837 0.0051 247.8759);
  --border: oklch(0.2762 0.0514 259.0249);
  --input: oklch(0.2762 0.0514 259.0249);
  --ring: oklch(0.6225 0.2041 259.9027);
  --chart-1: oklch(0.6225 0.2041 259.9027);
  --chart-2: oklch(0.7122 0.1526 254.9868);
  --chart-3: oklch(0.8088 0.0991 251.7533);
  --chart-4: oklch(0.8820 0.0588 253.9688);
  --chart-5: oklch(0.9315 0.0333 255.2077);
  --sidebar: oklch(0.2025 0.0543 264.7546);
  --sidebar-foreground: oklch(0.7061 0.0488 256.4992);
  --sidebar-primary: oklch(0.6225 0.2041 259.9027);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2762 0.0514 259.0249);
  --sidebar-accent-foreground: oklch(0.9837 0.0051 247.8759);
  --sidebar-border: oklch(0.2762 0.0514 259.0249);
  --sidebar-ring: oklch(0.6225 0.2041 259.9027);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 6px 15px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 6px 15px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 6px 15px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 6px 15px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased;
    letter-spacing: var(--tracking-normal);
  }
}